<ion-view class="animated fadeIn">
  <ion-nav-bar>
  </ion-nav-bar>

  <ion-nav-buttons side="right">
    <button class="button button-royal button-hover" ng-click="backToHome()">
        <b>Exit</b>
    </button>
  </ion-nav-buttons>

  <ion-header-bar class="bar-stable bar-royal">
    <h1 class='title'><center><b>{{roundDisplay()}}</b></center></h1>
  </ion-header-bar>

  <ion-header-bar
    style="font-size: 1.5em; text-align:center; padding-top: 0.5em"
    class='bar-subheader light-gray-background'>
    {{playHeader()}}: {{stateAnswerCount()}} / {{maxAnswerCount()}}</ion-header-bar>
  <!-- <ion-header-bar
    style="line-height: normal; font-weight: bold; font-size: 1.6em; text-align:center;"
    class='bar-subheader bar-stable bar-balanced'>
    PLAY </ion-header-bar> -->
  <ion-content class="home-page light-purple-bg" direction='y'>
    <ion-slide-box disable-scroll="true" show-pager='false'>
      <ion-slide ng-repeat="question in questions" class='answer-boxes animated fadeIn'>
        <div class='qst'>
          <img ng-src="{{question.q}}" height='auto' width='150em'/>
        </div>
        <!-- <div class='box-shadow'></div> -->
        <div class='answer-boxes'>
          <div class='answers flex-row'>
            <div class='flex-col' ng-click="pickAnswer(question, randomAnswers[0])"><img ng-src="{{question.opts[randomAnswers[0]]}}" height='auto' width='150em'/></div>
            <div class='flex-col' ng-click="pickAnswer(question, randomAnswers[1])"><img ng-src="{{question.opts[randomAnswers[1]]}}" height='auto' width='150em'/></div>
          </div>
          <div class='answers flex-row'>
            <div class='flex-col' ng-click="pickAnswer(question, randomAnswers[2])"><img ng-src="{{question.opts[randomAnswers[2]]}}" height='auto' width='150em'/></div>
            <div class='flex-col' ng-click="pickAnswer(question, randomAnswers[3])"><img ng-src="{{question.opts[randomAnswers[3]]}}" height='auto' width='150em'/></div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
