<ion-modal-view class='modal'>
  <ion-header-bar class="bar-positive" align-title='center' right-buttons='closeButton'>
    <h1 class="title"> {{playStartHeader()}} </h1>
    <div class='buttons'>
      <button class="button button-positive" ng-click="closeStartInfo()"><b>Back</b></button>
    </div>
  </ion-header-bar>
  <ion-header-bar
   style="font-size: 1.5em; height: 3em; text-align:center; padding-top:1em"
   class='bar-subheader bar-stable'>
   {{category.name}}
  </ion-header-bar>

  <ion-content class='light-purple-bg item-list'>
  <ion-list class='play-start-info-list'>
    <br/>
     <div ng-if="checkPlayType('acq')">
       <ion-item class='padding-vertical start-info list-item margin'>
         First, you will be given a pretest with all possible questions to assess your knowledge. Then you will be given a series of Trainings and Tests.
       </ion-item>
       <ion-item class='padding-vertical start-info list-item margin'>
         To complete one Training round, you must choose correctly 12 times in a row. Otherwise, you will be taken back to the beginning of the Training.
       </ion-item>
       <ion-item class='padding-vertical start-info list-item margin'>
         If you fail any of the tests after the Pretest, you will be brought back to the initial Training.
       </ion-item>
     </div>
     <div ng-if="checkPlayType('mnt')">
       <ion-item class='padding-vertical start-info list-item margin'>
         First, you will be given two Training rounds.
       </ion-item>
       <ion-item class='padding-vertical start-info list-item margin'>
         To complete one Training round, you must choose correctly 12 times in a row. Otherwise, you will be taken back to the beginning of the Training.
       </ion-item>
       <ion-item class='padding-vertical start-info list-item margin'>
         Then you will be given a cumulative Test round with all possible questions.
       </ion-item>
     </div>
   </ion-list>
 </ion-content>
 <!-- <ion-footer-bar class='bar bar-footer bar-royal play-start-footer' ng-click="start()">
   <button class="button button-clear"></button>
   <div class='title'> <b> BEGIN </b> </div>
   <button class="button button-clear"></button>
 </ion-footer-bar> -->
</ion-modal-view>
