<ion-modal-view class='modal'>
 <ion-header-bar class="bar-positive" align-title='center' right-buttons='closeButton'>
   <h1 class="title"> <b> PLAY </b> </h1>
   <div class='buttons'>
     <button class="button button-positive" ng-click="closeStartInfo()"><b>Cancel</b></button>
   </div>
 </ion-header-bar>
 <ion-header-bar
   style="font-size: 1.5em; height: 3em; text-align:center; padding-top:1em"
   class='bar-subheader bar-stable'>
   {{category.name}}
 </ion-header-bar>
 <br></br>
 <ion-content class='padding light-purple-bg item-list'>
   <br/>
   <ion-item class='padding-vertical start-info list-item'>
     First, you will be given a pretest with all possible questions to assess your knowledge. Then you will be given a series of trainings and tests.
   </ion-item>
   <ion-item class='padding-vertical start-info list-item'>
     To complete one Training round, you must choose correctly 12 times in a row. Otherwise, you will be taken back to the beginning of the training.
   </ion-item>
   <ion-item class='padding-vertical start-info list-item'>
     If you fail any of the tests after the Pretest, you will be brought back to the initial training.
   </ion-item>
   <center class='home-buttons'>
     <button ng-click="start()" class='col button button-royal card'><b>START</b></button>
   </center>
 </ion-content>
</ion-modal-view>
