<ion-view view-title="HOME">
  <ion-nav-bar class="bar-stable bar-positive" align-title="center">

  </ion-nav-bar>

  <!-- <ion-header-bar
    style="height: 2.5em; font-weight: bold; font-size: 1.2em; text-align:center; padding:0.8em"
    class='bar-subheader bar-stable bar-energized'>
    Equivalence Based Instruction </ion-header-bar> -->
    <ion-header-bar
      style="font-size: 1.5em; height: 3em; text-align:center; padding-top:1em"
      class='bar-subheader bar-stable'>
      Equivalence Based Instruction </ion-header-bar>
  <ion-content class="padding home-page light-gray-background" scroll='false'>
    <br></br>
    <br></br>

    <div class='home-buttons'>
      <div>
        <button class="animated fadeInUp button button-balanced home-button card" ng-click='openStartInfo()'>
            <b> START </b> &nbsp; <i class='ion-play'></i>
        </button>
      </div>
      <br>
      <div>
        <button class="animated fadeInUp button button-calm home-button card" ng-click="openTutorial()">
            <b> TUTORIAL </b> &nbsp; <i class='ion-help-circled'></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
