<ion-view view-title="SETTINGS">
  <ion-nav-bar class="bar-stable bar-positive" align-title="center">
    <!-- <ion-nav-back-button>
    </ion-nav-back-button> -->
  </ion-nav-bar>
<!-- class="padding" style="font-size: 1.4em; width: 100%; text-align:center" -->
  <!-- <ion-header-bar > Categories </ion-header-bar> -->

  <!-- <ion-header-bar style="height: 2.5em; font-size: 1.3em; text-align:center; padding:0.8em">
    Categories
  </ion-header-bar> -->

  <ion-header-bar
    style="font-size: 1.5em; height: 3em; text-align:center; padding-top: 1em"
    class='bar-subheader bar-stable gray-background'>
    Categories </ion-header-bar>

  <ion-content class='padding light-gray-background'>

    <ion-list>
      <ion-item ng-repeat="category in categories" class='animated fadeInUp card padding' ng-click="chooseCategory(category.id)">
        <!-- <ion-radio ng-model="chosenCategory" ng-class="setRadioClass(category.id)">{{category.name}}</ion-radio> -->
        <div class='row'>
          <div class='col col-80' style='font-size:1.2em;'> {{category.name}} </div>
          <div class='col col-20' style='text-align:right;font-size:1.6em;'><i ng-class="setRadioClass({{category.id}})"></i></div>
        </div>
      </ion-item>
      <!-- <ion-item  class='animated fadeInUp'>
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            STATISTICS
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </ion-item>
      <ion-item  class='animated fadeInUp'>
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            PSYCHOLOGY 101
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </ion-item> -->
    </ion-list>
  </ion-content>
</ion-view>
