<ion-view view-title='SETTINGS'>

  <ion-nav-buttons side="left">
    <span class="button button-clear button-light icon-left" ng-click="openInfoModal()">
      <i class="icon ion-ios-information-outline"></i>
    </span>
  </ion-nav-buttons>

  <!-- <ion-nav-buttons side="right">
    <span class="button button-clear button-light" ng-click="openTutorial()">
      <i class="icon ion-ios-help-outline"></i>
    </span>
  </ion-nav-buttons> -->


  <ion-header-bar
    class='bar-subheader bar-stable gray-background big-subheader'>
    Categories </ion-header-bar>

  <ion-content class='light-purple-bg'>
    <ion-list class='padding'>
      <ion-item ng-repeat="category in categories" class='margin animated fadeInUp list-item padding' ng-click="chooseCategory(category.id)">
        <div class='row'>
          <div class='col col-80' style='font-size:1.2em;'> {{category.name}} </div>
          <div class='col col-20' style='text-align:right;font-size:1.6em;'><i ng-class="setRadioClass({{category.id}})"></i></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
