<ion-view view-title="HOME">
  <!-- <ion-nav-bar class="bar-stable bar-positive" align-title="center">
  </ion-nav-bar> -->


  <ion-nav-buttons side="left">
    <span class="button button-clear button-light icon-left" ng-click="openInfoModal()">
      <i class="icon ion-ios-information-outline"></i>
    </span>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <span class="button button-clear button-light" ng-click="openTutorial()">
      <i class="icon ion-ios-help-outline"></i>
    </span>
  </ion-nav-buttons>

  <ion-header-bar
      style="font-size: 1.5em; height: 3em; text-align:center; padding-top:1em"
      class='bar-subheader bar-stable'>
      Equivalence Based Instruction
  </ion-header-bar>
  <ion-content class="light-purple-bg">
    <div class='play-start-info-list'>
      <br></br>
      <center>
        <div class="row play-type-nav animated fadeInUp light-padding">
          <div class="col bar-btn"
             ng-class="{acqActive: checkPlayType('acq')}"
             ng-click="changePlayType('acq')"><center> Acquisition </center> </div>
          <div class="col bar-btn"
             ng-class="{mntActive: checkPlayType('mnt')}"
             ng-click="changePlayType('mnt')"><center> Maintenance </center></div>
        </div>
      </center>
      <ion-slide-box on-slide-changed="changeTypeSlide($index)" class='animated fadeInUp'
          show-pager='false' does-continue='false' delegate-handle='home-slide'>
        <ion-slide class='home-slide'>
          <ion-item class='padding-vertical start-info list-item margin'>
            The Acquisition Mode consists of a pretest, followed by a series of alternating Training and Test sessions, and a cumulative post Test.
          </ion-item>
        </ion-slide>
        <ion-slide class='home-slide'>
          <ion-item class='padding-vertical start-info list-item margin'>
            The Maintenance Mode consists of the same Training sessions as the Acquisition Mode, and the cumulative post Test.
          </ion-item>
        </ion-slide>
      </ion-slide-box>
      <!-- <ion-item class='padding-vertical list-item margin animated fadeInUp' ng-click='openStartInfo()'> -->
        <div class='row animated fadeInUp'>
          <div class='col home-button button paper-button' ng-class="startTypeButton()" ng-click='start()'>PLAY</div>
          <div class='col home-button button paper-button button-positive' ng-click='openStartInfo()'>MORE INFO</div>
        </div>
      <!-- </ion-item> -->
    </div>
  </ion-content>
  <!-- <ion-footer-bar class='bar bar-footer bar-stable home-footer' ng-click="openStartInfo()">
    <button class="button button-positive col footer-button">PLAY</button>
  </ion-footer-bar> -->
</ion-view>
