<ion-modal-view class='modal'>
 <ion-header-bar class="bar-calm" align-title='center' right-buttons='closeButton'>
   <h1 class="title"> TUTORIAL </h1>
   <div class='buttons'>
     <button class="button button-primary" ng-click="closeTutorial()"><b>Close</b></button>
   </div>
 </ion-header-bar>
 <ion-content class="card padding">
   <ion-slide-box does-continue="true" on-slide-changed="slideHasChanged($index)" show-pager='false'>
    <ion-slide>
      <div><h2>Step 1</h2></div>
    </ion-slide>
    <ion-slide>
      <div><h1>Step 2</h1></div>
    </ion-slide>
    <ion-slide>
      <div><h1>Step 3</h1></div>
    </ion-slide>
  </ion-slide-box>
 </ion-content>
</ion-modal-view>
