@font-face {
    font-family: 'Roboto';
    src: url('../lib/fonts/Roboto-Regular.ttf');
}

/*SLIDE ANIMATION*/
.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }


/* Empty. Add your own CSS if you like */


body, button, ion-content, ion-header-bar, .bar-subheader, .bar-stable, .popup {
  font-family: 'Roboto' !important;
}

ion-header-bar .buttons button {
  border: 0 !important;
  box-shadow: 0px 1px 3px 0px #5D5050 !important;
  -webkit-box-shadow: 0px 1px 3px 0px #5D5050 !important;
  -moz-box-shadow: 0px 1px 3px 0px #5D5050 !important;
}

.bar-stable, .bar-subheader {
  /*border: 0px;*/
  box-shadow:           0px 1px 4px 0px gray !important;
  -webkit-box-shadow:   0px 1px 4px 0px gray !important;
  -moz-box-shadow:      0px 1px 4px 0px gray !important;
}

.start-info {
  font-size: 1.1em;
  line-height: normal;
}

.purple-bg {
  background-color: rgb(192, 145, 239) !important;
}

.light-purple-bg {
  /*background-color: #F7EFFF !important;*/
  background-color: #FBF7FF !important;
}

.gray-background {
  background-color: rgba(236, 232, 232, 0.5) !important;
}

ion-content, .light-gray-background {
  background-color: rgba(236, 232, 232, 0.2) !important;
}

.bar-subheader {
  background-color: #FAFAFA !important;
    /*color: white !important;*/
}

.home-button {
  /*padding: 0.5em;*/
  color: white !important;
  font-size: 1.1em;
  font-weight: bold;
  display: block !important;
  border: 0 !important;
  box-shadow: 1px 1px 2px 0px gray !important;
  -webkit-box-shadow: 1px 1px 2px 0px gray !important;
  -moz-box-shadow: 1px 1px 2px 0px gray !important;
  margin: 0em 0.2em;
  /*font-family: 'Roboto', sans-serif !important;*/
}

.home-buttons {
  color: white !important;
  font-size: 1.2em;
  width: 100%;
}

.home-buttons .button {
  border-color: transparent !important;
}

.home-page {
  width: 100% !important;
  vertical-align: middle;
  margin: auto;
  align-items: center;
  text-align: center;
}

.flex-row {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  width: 100%;
}
.flex-col {
  width: 50%;
}

.list-item {
  margin-top: 0.5em;
  box-shadow:           1px 1px 1px 0px gray;
  -webkit-box-shadow:   1px 1px 1px 0px gray;
  -moz-box-shadow:      1px 1px 1px 0px gray;
  border: 0 !important;
}


.popup {
  box-shadow: 0px 0px 25px 10px gray !important;
  -webkit-box-shadow: 0px 0px 25px 10px gray !important;
  -moz-box-shadow: 0px 0px 25px 10px gray !important;
}

.popup-head h3 {
  font-weight: bold;
}

.popup .popup-buttons button {
  border: 0 !important;
  box-shadow: 1px 1px 2px 0px gray !important;
  -webkit-box-shadow: 1px 1px 2px 0px gray !important;
  -moz-box-shadow: 1px 1px 2px 0px gray !important;
}

.under-shadow {
  box-shadow: 1px 2px 2px 1px lightgray !important;
  -webkit-box-shadow: 1px 2px 2px 1px lightgray !important;
  -moz-box-shadow: 1px 2px 2px 1px lightgray !important;
}

.answer-boxes .activated img {
  opacity: 0.3;
}

.qst {
  margin-bottom: 0.5em;
  box-shadow:           0px 2px 2px 0px gray !important;
  -webkit-box-shadow:   0px 2px 2px 0px gray !important;
  -moz-box-shadow:      0px 2px 2px 0px gray !important;
}

.answer-boxes .qst {
  margin-top: 0.3em;
}
.answer-boxes .qst img {
  box-shadow: 1px 1px 3px 0px gray;
  -webkit-box-shadow: 1px 1px 3px 0px gray;
  -moz-box-shadow: 1px 1px 3px 0px gray;
  border-radius: 0.2em;
}
.answer-boxes .answers img {
  /*border: 1px solid lightgray;*/
  border-radius: 0.2em;
  box-shadow: 1px 1px 3px 0px gray;
  -webkit-box-shadow: 1px 1px 3px 0px gray;
  -moz-box-shadow: 1px 1px 3px 0px gray;
}

.box-shadow {
  /*padding-bottom: 0.2em;*/
  margin-top: -0.2em;
  height: 0.2em;
  margin-bottom: 0.5em;
  box-shadow:         0px 2px 2px 0px gray;
  /*-webkit-box-shadow: 0px 2px 2px 0px gray;
  -moz-box-shadow:    0px 2px 2px 0px gray;*/
}

ion-item {
  white-space: normal !important;
}

.tutorial-content {
  margin-top: 0.5em;
}

.play-start-info-list .bar-btn {
  font-size: 1.2em !important;
}

.margin {
  margin: 0.5em !important;
}

.home-footer .footer-button {
  font-size: 1.2em;
}

.play-type-nav {
  box-shadow: 1px 0px 5px 0px gray;
}

.acqActive {
  background-color: #886aea;
  color: white;
}

.home-slide ion-item {
  display: block !important;
}

.mntActive {
  background-color: #11c1f3;
  color: white;
}
