/* Empty. Add your own CSS if you like */
html {
  /*font-family: 'Roboto-Medium', sans-serif !important;*/
  font-family: 'Roboto', sans-serif !important;
}

@font-face {
  font-family: 'Roboto';
  src: url('../lib/fonts/Roboto-Regular.ttf')  format('truetype');
}

.gray-background {
  background-color: rgba(236, 232, 232, 0.5) !important;
}

ion-content, .light-gray-background {
  background-color: rgba(236, 232, 232, 0.2) !important;
}

.home-button {
  padding: 0.5em;
  color: white !important;
  width: 100%;
  font-size: 1.3em;
  /*font-family: 'Roboto', sans-serif !important;*/
}

.home-buttons {
  color: white !important;
  font-size: 1.2em;
  width: 100%;
}

.home-page {
  width: 100% !important;
  vertical-align: middle;
  margin: auto;
  align-items: center;
  text-align: center;
}
