/*SLIDE ANIMATION*/
.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }


/* Empty. Add your own CSS if you like */

.gray-background {
  background-color: rgba(236, 232, 232, 0.5) !important;
}

ion-content, .light-gray-background {
  background-color: rgba(236, 232, 232, 0.2) !important;
}

.bar-subheader {
  background-color: #F2EFEF !important;
}

.home-button {
  padding: 0.5em;
  color: white !important;
  width: 100%;
  font-size: 1.2em;
  /*font-family: 'Roboto', sans-serif !important;*/
}

.home-buttons {
  color: white !important;
  font-size: 1.2em;
  width: 100%;
}

.home-page {
  width: 100% !important;
  vertical-align: middle;
  margin: auto;
  align-items: center;
  text-align: center;
}

.flex-row {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  width: 100%;
}
.flex-col {
  width: 50%;
}

.answer-boxes .activated img {
  opacity: 0.3;
}

.answer-boxes .qst {
  margin-top: 0.3em;
}
.answer-boxes .qst img {
  box-shadow: 1px 1px 1px 1px lightgray;
}
.answer-boxes .answers img {
  border: 1px solid lightgray;
  border-radius: 0.2em;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.box-shadow {
  /*padding-bottom: 0.2em;*/
  margin-top: -0.2em;
  height: 0.2em;
  margin-bottom: 0.5em;
  box-shadow: 0px 2px 2px 0px lightgray;
  -webkit-box-shadow: 0px 2px 2px 0px lightgray;
  -moz-box-shadow: 0px 2px 2px 0px lightgray;
}


.shadow-box:before, .shadow-box:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.shadow-box:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}


ion-item {
  white-space: normal !important;
}
